*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
}

@font-face {
  font-family: "ProductSans";
  src: url("fonts/ProductSans-Bold.woff") format("woff");
}

/*************************************/
.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maincontent {
  margin-top: 50px;
  width: 90%;
}

.content {
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  min-height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #cecece;
  font-family: 'ProductSans', Bold;
  font-weight: 700;
}

.one {
  margin-top: 50px;
}

.two, .three {
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  min-height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #669900;
  font-family: 'ProductSans', Bold;
  font-weight: 100;
  margin-top: 50px;
}

.two .resultLog {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #669900;
  display: -ms-grid;
  display: grid;
  padding: 5px;
  grid-gap: 5px;
}

.resultLog div {
  border: 1px solid #ffffff;
}

.color {
  background-color: #669900;
}

/*TANK - 1*/
.sp {
  width: 100px;
  height: 100px;
  background-image: url(../img/great-war-tank.svg);
  position: relative;
  margin-left: 0%;
}

.r {
  margin-left: 85% !important;
  -webkit-transition: 10s;
  transition: 10s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.l {
  margin-left: 0% !important;
  -webkit-transition: 10s;
  transition: 10s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.pausedTranslate {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

/*TANK - 2*/
.rotateL {
  -webkit-transition: 300;
  transition: 300;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  -webkit-filter: FlipH;
          filter: FlipH;
}

.rotateR {
  -webkit-transition: 500;
  transition: 500;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-filter: FlipH;
          filter: FlipH;
}

.lamp {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-image: url(../img/led.svg);
  left: 15px;
  position: relative;
}

.lampOn {
  background-image: url(../img/ledOn.svg);
}

/*TANK - 3*/
.fire {
  width: 10px;
  height: 3px;
  display: inline-block;
  background-color: red;
  position: relative;
  z-index: -1;
  top: 11px;
  left: 16px;
}

.openFire {
  -webkit-animation: fire 500ms infinite;
          animation: fire 500ms infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  overflow: hidden;
}

@-webkit-keyframes fire {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  to {
    -webkit-transform: translate(90px);
            transform: translate(90px);
    opacity: 0;
  }
}

@keyframes fire {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  to {
    -webkit-transform: translate(90px);
            transform: translate(90px);
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */